/* Cброс стилей */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Sora', sans-serif;
	background: #056099;

	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.greetings {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 5%;
	line-height: 1.6;
}

.projects {
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

.project-image {
	border-radius: 10px;
	transition: 1s;
}

.project-image img {
	width: 532px;
	height: 532px;
}

.project-image:hover {
	transform: scale(1.1);
}

.projects-card {
	border: #c6ffdd;
}

.project-title {
	font-size: 32px;
}

.project-info a {
	text-decoration: none;
	color: white;
}

.project-text {
	width: 560px;
}

.project-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px;
	line-height: 1.6;
	color: white;
}
